@using ClientApp.ViewModels.OrderViewModels

@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details Page";
}

@*Navigation section*@
<section class="my-5">
    <div class="container">
        <div class="d-flex">
            <a type="button"
               asp-controller="Order"
               asp-action="Index"
               class="d-flex align-items-center btn btn-primary btn-sm px-2 fs-6">
                <i class="d-flex bi bi-chevron-left me-1"></i>

                Back
            </a>
        </div>
    </div>
</section>

@*Order section*@
<section class="album bg-white">
    <div class="container">
        <div class="card border-0">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card-body">
                        <div class="mb-3">
                            <h1 class="card-title fw-bold">@Model.Item.Name - @Model.Item.Id</h1>
                        </div>

                        <dl class="row mb-0 border rounded py-3 px-1">
                            <dt class="col-sm-6 border-bottom">Products:</dt>
                            <dd class="col-sm-6 mb-0 border-bottom">
                                @foreach (var product in Model.Item.Products.Split(", "))
                                {
                                    <p class="mb-1">- @product</p>
                                }
                            </dd>

                            <dt class="col-sm-6 py-3 border-bottom">Order date and time:</dt>
                            <dd class="col-sm-6 py-3 mb-0 border-bottom">@Model.Item.Date.ToString("dd.MM.yyyy HH:mm")</dd>

                            <dt class="col-sm-6 py-3">Quantity of products:</dt>
                            <dt class="col-sm-6 py-3 mb-0">@Model.Item.Quantity</dt>

                            <dt class="col-sm-6">Total price:</dt>
                            <dt class="col-sm-6 mb-0">$@Model.Item.TotalPrice.ToString("N2")</dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>