@using ClientApp.ViewModels.HomeViewModels

@model CatalogViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*Hero section*@
<section>
    <img alt="catalog hero"
         src="~/images/main_banner.png"
         class="w-100"
         style="height: 260px; object-fit: cover" />
</section>

@*Filters section*@
<section class="my-4">
    <div class="container">
        <form asp-action="Index" asp-controller="Home" method="post" class="row d-flex align-items-end gx-3">
            <div class="col-auto">
                <label class="form-label mb-1" data-title="brand">Brands</label>
                <select asp-for="@Model.BrandId" asp-items="@Model.Brands" class="form-select">
                    <option selected>All</option>
                </select>
            </div>

            <div class="col-auto">
                <label class="form-label mb-1" data-title="type">Types</label>
                <select asp-for="@Model.TypeId" asp-items="@Model.Types" class="form-select">
                    <option selected>All</option>
                </select>
            </div>

            <div class="col-auto">
                <button class="btn btn-primary btn-sm px-3 py-2">
                    <i class="d-flex fs-5 bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</section>

@*Catalog section*@
<section class="album mb-5 bg-white">
    <div class="container">
        @if (Model.CatalogItems.Any())
        {
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                @foreach (var item in Model.CatalogItems)
                {
                    <div class="col">
                        <div class="card shadow-sm h-100 position-relative">
                            <img width="100%"
                                 height="320"
                                 alt="@item.Name thumbnail"
                                 src="@item.PictureUrl"
                                 class="bd-placeholder-img card-img-top" />

                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">@item.Name</h5>

                                    <p class="card-text">$@item.Price.ToString("N2")</p>
                                </div>

                                <div class="d-flex justify-content-end position-absolute top-0 end-0">
                                    @if (item.AvailableStock <= 5)
                                    {
                                        <span class="badge bg-danger">Low stock</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Available on stock</span>
                                    }
                                </div>

                                <div class="d-flex justify-content-end mt-3">
                                    <a type="button"
                                       asp-controller="Home"
                                       asp-action="Details"
                                       asp-route-id="@item.Id"
                                       class="d-flex align-items-center btn btn-sm btn-primary me-2">
                                        <i class="d-flex bi bi-arrow-down-left-square me-2"></i>

                                        View
                                    </a>

                                    <a type="button"
                                       class="d-flex align-items-center btn btn-sm btn-success">
                                        <i class="d-flex bi bi-bag-plus me-2"></i>

                                        Add to Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.PaginationViewModel.TotalItems > Model.PaginationViewModel.ItemsPerPage)
            {
                <partial name="_Pagination" for="PaginationViewModel" />
            }
        }
        else
        {
            <div class="px-4 py-5 my-5 text-center">
                <img width="140"
                     height="162"
                     alt="no data placeholder"
                     src="~/images/no_data.png"
                     class="d-block mx-auto mb-4">

                <h1 class="display-5 fw-bold">Ooops...</h1>

                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">There are no results that match your choice</p>
                </div>
            </div>
        }
    </div>
</section>