@using ClientApp.ViewModels.BasketViewModels

@model BasketItemsViewModel

@{
    ViewData["Title"] = "Your Cart";
}

@*Navigation section*@
<section class="mt-5">
    <div class="container">
        <div class="d-flex">
            <a type="button"
               asp-controller="Home"
               asp-action="Index"
               class="d-flex align-items-center btn btn-primary btn-sm px-2 fs-6">
                <i class="d-flex bi bi-chevron-left me-1"></i>

                Back home
            </a>
        </div>
    </div>
</section>

@*Basket section*@
<section class="mb-5 flex-grow-1">
    @if (Model.BasketItems.Any())
    {
        <div class="container">
            <div class="p-3">
                <h2 class="mb-5 text-center fw-bold">Your Cart</h2>

                <form id="add-order" asp-action="Index" asp-controller="Basket" method="post">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 8%"></th>
                                <th scope="col" style="width: 52%">Product</th>
                                <th scope="col" style="width: 15%">Amount</th>
                                <th scope="col" style="width: 15%">Price per unit</th>
                                <th scope="col" style="width: 8%"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.BasketItems)
                            {
                                <tr>
                                    <th scope="row">
                                        <img width="48px"
                                             height="48px"
                                             alt="@item.Name thumbnail"
                                             src="@item.PictureUrl"
                                             class="rounded" />
                                        <input type="hidden" asp-for="@item.PictureUrl" />
                                    </th>
                                    <td>
                                        @item.Name
                                        <input type="hidden" asp-for="@item.Name" />
                                    </td>
                                    <td>
                                        @item.Amount
                                        <input type="hidden" asp-for="@item.Amount" />
                                    </td>
                                    <td>
                                        $ @item.Price
                                        <input type="hidden" asp-for="@item.Price" />
                                    </td>
                                    <td style="text-align: center">
                                        <form id="delete-item" method="post" asp-controller="Basket" asp-action="DeleteFromBasket">
                                            <input type="hidden" name="id" asp-for="@item.Id" />
                                            <button type="submit" form="delete-item" class="btn btn-sm btn-danger p-1">
                                                <i class="d-flex bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td colspan="2" class="border-bottom-0"></td>
                                <td colspan="3" class="border-bottom-0">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td style="width: 60%">
                                                    <strong>Total amount</strong>
                                                </td>
                                                <td style="width: 40%; text-align: right">
                                                    <strong>@Model.BasketItems.Sum(item => item.Amount)</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 60%">
                                                    <strong>Total price</strong>
                                                </td>
                                                <td style="width: 40%; text-align: right">
                                                    <strong>$ @Model.BasketItems.Sum(item => item.Price)</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex align-items-center justify-content-end mt-4">
                        <button type="submit" form="add-order" class="d-flex align-items-center btn btn-success">
                            <i class="d-flex bi bi-check-square me-2"></i>

                            Confirm order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="container h-100 d-flex flex-column justify-content-center">
            <div class="d-flex align-items-center flex-column text-center">
                <i class="d-flex bi bi-cart-x mb-4" style="font-size: 120px"></i>

                <h1 class="display-5 mb-0">Empty shopping cart</h1>
            </div>
        </div>
    }
</section>
